:root {
  --hole-top: 100px;
  --score: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
  height: 100vh;
  background: burlywood;
}
h1 {
  text-align: center;
}
.scorecard {
  text-decoration: line-through;
  color: greenyellow;
}
.main-container {
  background: #70c5ce;
  min-height: 550px;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  user-select: none;
}
.bird {
  transition: all 0.2s ease;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background: #d4bf27;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.main-container.game-over::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  content: "☹ daaaayum!";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  color: red;
}
.obstacle {
  position: absolute;
  height: 100%;
  width: 8%;
  background: greenyellow;
  opacity: 0;
}
.obstacle.animate {
  animation: obstacle 2.5s forwards infinite linear;
  opacity: 1;
}
.hole {
  position: relative;
  top: var(--hole-top);
  width: 100%;
  height: 150px;
  background: #70c5ce;
}

.instruction {
  z-index: 100;
}
.opacity-1 {
  opacity: 1;
}
.d-none {
  display: none;
}
@keyframes obstacle {
  from {
    left: 100%;
  }
  to {
    left: -5%;
  }
}
